
<% if @nf2_services %>
<h2 id="heading" style="font-size: 26px;">Ninefold</h2>
<table id="service-list">
  <colgroup>
  <col />
  <col style="background-color: #F3F3F3; width: 120px;" />
  <col />
  <col />
  <col />

</colgroup>
<thead>
  <tr>
    <th>Service</th>
    <th class="today">Current</th>
    <% for day in @days %>
    <th class="date"><%= day.strftime("%d/%m") %></th>
    <%end%>
  </tr>
</thead>
<tbody id="services-body">
  <% for service in @nf2_services %>
  <%= render partial: 'servicestable', :locals=> {service: service} %>
  <% end %>     
</tbody>
</table>
<%end%>   


