<div id="webservices" class="frame">
<h1>Admin</h1>
<table>
  <tr>
    <td><%= link_to "New Event", new_event_path %></td>
  </tr> 
  <tr>
    <td><%= link_to "View Events", events_path %></td>
  </tr> 
  <tr>
    <td><%= link_to "Change Password", edit_user_registration_path %></td>
  </tr> 
  <tr>
    <td><%= link_to "Logout", destroy_user_session_path %></td>
  </tr> 
</table>
</div>