/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#sub-nav-menu {
display: block;
font-size: 14px;
margin: 0 10px 0 0;
height: 26px;
padding: 0;
background-color: #333433;
width: 100%;
}

#sub-nav-menu li {
display: inline;
padding: 0 15px;
}

.tab_organization{
padding-left: 0px !important;
}

#sub-nav-menu li a {
color: #aaacaf;
font-size: 14px;
text-transform: uppercase;
font-family: "omnes_mediumregular", "Open Sans", Helvetica, Helvetica Neue, Arial;
display: inline-block;
}

#sub-nav-menu li a:hover{
color: #d9d9d9;
text-decoration: none;
}

#sub-nav-menu li:first-child {
padding-left: 0px !important;
}

#sub-nav-menu ul {
    list-style:none;
    position:relative;
padding-top: 3px;
margin-left: 48%;
}

.heading {
	padding-top: 20px;
}